@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #fff;
}

h1 {
    font-size: 3.75rem;
    line-height: 1.2;
    margin: 20px 0 0;
}

h3 {
    margin: 26px 0 0;
}

h3,
p {
    font-weight: 300;
}

p {
    margin: 20px 0 0;
    line-height: 1.6;
}

span {
    font-weight: 500;
}

.container {
    margin: 0 auto;
}

.main-content {
    width: 100%;
    height: auto;
    background-image: url('../images/bg.jpg');
    background-position: 50% 50%;
    background-attachment: fixed;
    object-fit: cover;
    background-size: cover;
    padding: 50px 15px;
}

.top-content {
    background-color: #0f2557;
    padding: 40px 15px;
    line-height: 1.2;
}

.gradient-bg {
    background-image: linear-gradient(#306ed5, #b23c8a);
    min-height: 70vh;
    max-width: 300px;
}

.svg-icon {
    max-width: 60px;
    fill: #fff;
}

.btn {
    margin: 33px auto 55px;
    padding: 15px 56px 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: #f15048;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    white-space: nowrap;
}

.card {
    background-color: rgba(65, 132, 244, .7);
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.card p {
    cursor: pointer;
    margin: 16px 1px 0;
    line-height: 1;
}